*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,700;0,900;1,300&display=swap');

header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 15vh;
    align-items: center;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    
}

.container_menu{
    width: 40vw;
    display: flex;
    justify-content: center;
    

    
    
}

.container_menu--list {
    font-weight: 100;
    color: #828282;
    
}


li:hover {
    font-weight: 900;
    transform: scale(120%);
    color: #000000;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    

}

.container_header figure {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: right;
}


main {
    max-width: 1920px;
    width: 100%;
    background-image: url('/imagens/laranja\ azul\ recorte.png');
    height: 80.5vh;
    
    
}

.container_orange h2{
    width: 60vw;
    position: absolute;
    left: 210px;
    bottom: 370px;
    font-weight: 800;
    font-size: 4.5rem;
    color: white;
    
    
  
    
    
}



.container_orange p {    
    width: 37vw;
    position: absolute;
    left: 210px;
    bottom: 300px;    
    color: white;
    font-size: 1.8rem;    
    
}


@media (max-width: 420px) {
    main {
        width: 30%;
    }
    
}