*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,700;0,900;1,300&display=swap');

header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 15vh;
    align-items: center;

}

.menu {
    display: none;
    background-color: #000000;
    width: 50vw;
    height: 15vh;
    
    
}

.menu img {
    height: 12vh;
    width: 40%;
    position: relative;
    left: 13vh;
    top: 2vw; 
    

}

footer button {
    display: none;
}




ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    

    
}

.container_menu{
    width: 40vw;
    display: flex;
    justify-content: center;
    

    
    
}

.container_menu--list {
    font-weight: 100;
    color: #828282;
    display: flex;
    
    
}


header li:hover {
    font-weight: 900;
    transform: scale(120%);
    color: #000000;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    

}

.orange {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    
    
}




main {
    max-width: 1920px;
    width: 100%;
    height: 250vh;
    background-image: url('/imagens/laranja\ azul\ recorte.png');
    background-repeat: no-repeat;
    
    
    
    
    
    
}

.container_orange h2{
    width: 60vw;
    position: absolute;
    left: 210px;
    bottom: 420px;
    font-weight: 800;
    font-size: 4.5rem;
    color: white;
       
    
}



.container_orange p {    
    width: 37vw;
    position: absolute;
    left: 215px;
    bottom: 300px;    
    color: white;
    font-size: 1.7rem;
    font-weight: lighter;

    
}


@media (max-width:760px) {

    
    .menu {
        display: initial;
        width: 50%;
        align-items: center;
        
    }
   
    .container_menu {
        display: none;
        
    }
    
    main {
     width: 100%;
     background-position: 85% 0%;
     height: 860vh;
     
     
    }

    h2 {
        position: absolute;
        top: 410px;           
        
        
        
    }
    


    p {
        position: absolute;
        top: 750px;
                
    
    }
    
 
         
    
}


main figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}


.photo_gallery { 
    height: 150vh;
    position: relative;
    top: 820px; 
    padding: 120px;
   
    
    
  
  }
  
  .photo_gallery img {
      padding: 6px;
  }





  footer {
      max-width: 1920px;
      width: 100%;
      height: 12vh;     
      background-color: #E8E8E8;
      display: flex;
      justify-content: space-around;    

               

  }





footer p {
    position: relative;
    top: 25px;
    right: 60px;
    height: 1.2vh;
    width: 100%;
    margin-top: 10px;
    
     
     


}



footer h2 { 
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;

    
  
}




.rede_sociais { 
    display: flex;
    justify-content: space-between;
    width: 30%;
}




footer li:hover {
    transform: scale(120%);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    

}


@media (max-width:1900px) {
    main {
        height: 350vh;
    }
}

@media (max-width:1470px) {
    main {
        height: 420vh;
    }
}

@media (max-width:1200px) {
    main {
        height: 415vh;
    }

    .rede_sociais {

        width: 85%;
        height: 6vh;
        justify-content: center;
        align-items: center;
        background-color: #7FDBD4;
        
        

    }

    footer { 
    background-color: white;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    }

    footer h2 {
        width: 100%;
        height: 7vh;
        position: relative;
        top: 4vh;       
        
    }

    footer p { 
        width: 100%;
        height: 1.5vh;
        position: relative;
        top: 2.5vh;
        left: 5vh;
        text-justify: auto;
        
        
        
        
        
        
    }

    .container_orange h2 { 
        height: 27vh;
        position: abolute;
        
    
    }

    footer button {
        width: 8vw;
        height: 4vh;
        display: initial;
        position: absolute;
        right: 10.5vh;
        border: none;
        background-color: #707070;
        font-family: 'Montserrat', sans-serif;
        color: #CCCCCC;
        font-weight: 700;
       

    }


}



@media (max-width:1060px) { 

    main { 
     
        width: 100%;
        height: 710vh;
    
    }
}